{
    "settings": {
        "voting": "voteID",
        "todo": "todoID",
        "logchannel": "logID",
        "logs": true,
        "lockpolls": false,
        "modrole": "modRoleID",
        "banrole": "banRoleID",
        "timer": 12600
        "yesemoji": ""
        "noemoji": ""
        "cabbitemoji": ""
    }
}